{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="/image/favicon-32x32.png" alt="No-Q Logo" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#contact">About Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to NoQ</h1>
      <h2>Restaurant Wait Times in Real Time! <b>Earn Points</b> for Checking In</h2>
      <form>
        <div class="form-group">
          <input type="search" class="form-control" id="searchInput" placeholder="Restaurant or Location" action="POST">
        </div>
      <a href="#searchBtn" id="#search" class="btn-get-started">Search</a>
      </form>
    </div>
  </section><!-- #hero -->

  <main id="main">



 <!--==========================
       Restaurant Card Section
    ============================-->
    <section id="facts">
      
    
      <div class="container wow fadeIn">
        <div class="row">
        <div class="col-lg-3 col-6">
            <img src="https://i.pinimg.com/originals/cf/4c/0f/cf4c0f7ce9c6e38f758d087c81564dac.jpg" class="img-thumbnail" alt="">
        </div>
        <div class="col-lg-9 col-18">
            <div class="section-header">
                <h3 class="section-title">Restaurant Buena Cocina</h3>
                <p class="section-description">Slow Italian with a quick ending!</p>
              </div>
          <div class="row counters">

          
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">9</span>
            <p>Now Waiting</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">25</span>
            <p>Mins Wait (Party of 2)</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">35</span>
            <p>Mins Wait (3 or more)</p>
  				</div>

  			</div>
        </div>
        </div>
      </div>
       {{#each data.nearby_restaurants}}
          <div data-id="{{this.id}}" class="container wow fadeIn row">
             <div class="col-lg-3 col-6">
            <img src="{{this.featured_image}}" class="img-thumbnail" alt="image of {{this.name}}">
          </div>
           <div class="col-lg-9 col-18">
            <div class="section-header">
                <h3 class="section-title">{{this.name}}</h3>
                <p class="section-description">{{this.cuisines}}</p>
              </div>
          <div class="row counters">

          
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{this.waiting}}</span>
            <p>Now Waiting</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{this.smallParty}}</span>
            <p>Mins Wait (Party of 2)</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{this.largeParty}}</span>
            <p>Mins Wait (3 or more)</p>
  				</div>

  			</div>
        </div>
          <button class="btn btn-danger delete" id="checkInBtn-{{this.id}}">Check In</button>
          {{/each}}
    </section><!-- #restaurants -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
